@use '../../scss/variables';

.visListekomponenter {
  width: 100%;

  :global {
    .navds-read-more__content {
      border-left: 0;
      margin-left: 0;
      padding-left: 0;
      padding-bottom: 0;
      width: 100%;
      max-width: none;
    }
  }
}

.wideDetailedView {
  :global {
    .navds-read-more__content {
      position: relative !important;
      width: calc(100% + 50% + var(--a-spacing-5)) !important;
      max-width: 1024px !important;
      margin-left: 0 !important;
      margin-right: calc(-50% - var(--a-spacing-5)) !important;
      padding: var(--a-spacing-5) var(--a-spacing-4) 0 0 !important;
      box-sizing: border-box !important;

      @media (width <= 768px) {
        width: 100% !important;
        margin-right: 0 !important;
      }
    }
  }
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--a-spacing-12);

  @media (min-width: variables.$a-breakpoint-lg) {
    max-width: variables.$container-max-width;
  }

  &Header {
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
  }
}
