@use '../../../scss/variables';

.wrapper {
  background-color: var(--a-deepblue-100);
  border-radius: 0 var(--a-border-radius-medium) var(--a-border-radius-medium) 0;
  border-left: 5px solid var(--a-deepblue-500);
  padding: var(--a-spacing-3) var(--a-spacing-4) var(--a-spacing-3)
    var(--a-spacing-5);

  @media (min-width: variables.$a-breakpoint-sm) {
    display: inline-block;
    margin-bottom: var(--a-spacing-3);
  }
}

.list {
  padding-left: var(--a-spacing-5);
  margin-block: 0 var(--a-spacing-3);
  margin-bottom: 0;
  line-height: var(--a-font-line-height-xlarge);
}
