@import '../../../scss/variables';

.main {
  background: var(--a-gray-100);
  min-height: 55vh;

  &__white {
    background: white;
  }
}

.content {
  padding: var(--a-spacing-6) 0 0 0;
  display: flex;
  flex-flow: column;
  align-items: start;

  &__isFramed {
    composes: frame from '../../../scss/modules/frame.module.scss';
  }
}

.headerGroup {
  width: 100%;
  padding-bottom: var(--a-spacing-4);

  @media (min-width: $a-breakpoint-lg) {
    width: $a-breakpoint-lg;
    margin: 0 auto;
  }

  &Title {
    width: 100%;
    padding: 0 var(--a-spacing-6) 0 var(--a-spacing-6);

    @media (min-width: $a-breakpoint-md) {
      padding: 0;
      width: $container-max-width;
    }

    @media (min-width: $a-breakpoint-lg) {
      width: $a-breakpoint-lg;
      padding: 0;
    }

    &__isFramed {
      margin: 0 auto;
      padding: 0 var(--a-spacing-6) 0 var(--a-spacing-6);

      @media (min-width: $a-breakpoint-md) {
        padding: 0;
        width: $a-breakpoint-lg;
      }

      @media (min-width: $a-breakpoint-lg) {
        margin: 0;
      }
    }
  }
}
