@import '../../scss/variables';

.wrapper {
  composes: frame from '../../scss/modules/frame.module.scss';

  &Card {
    composes: whitesection from '../../scss/modules/fadein.module.scss';
    display: flex;
    padding: var(--a-spacing-6);

    @media (min-width: $a-breakpoint-lg) {
      max-width: $container-max-width;
    }
  }

  &Image {
    display: none;

    @media (min-width: $a-breakpoint-lg) {
      display: block;
      width: 4rem;
      height: 4rem;
      margin-right: var(--a-spacing-4);
    }
  }

  &Text {
    @media (min-width: $a-breakpoint-md) {
      padding-right: var(--a-spacing-8);
    }
  }
}

.ingress {
  line-height: var(--a-font-line-height-xlarge);

  br {
    display: none;

    @media (min-width: $a-breakpoint-lg) {
      display: inline;
    }
  }

  &__isInline {
    display: inline;
  }
}

.highlighted {
  display: block;
  font-size: var(--a-font-size-heading-medium);
  line-height: var(--a-font-line-height-heading-medium);
  font-weight: var(--a-font-weight-bold);
  padding-bottom: var(--a-spacing-2);

  @media (min-width: $a-breakpoint-md) {
    display: inline;
  }
}

.helptext {
  display: inline-block;
  vertical-align: middle;
  margin-left: var(--a-spacing-2);
  margin-top: -4px;
}

.alert {
  margin-bottom: var(--a-spacing-2);
}
