@import '../../scss/variables';

.wrapper {
  composes: frame from '../../scss/modules/frame.module.scss';

  &Card {
    padding: var(--a-spacing-4) var(--a-spacing-6);

    @media (min-width: $a-breakpoint-lg) {
      padding: var(--a-spacing-6) 0;
      max-width: $container-max-width;
    }
  }
}

.ingress {
  display: inline;
}

.highlighted {
  display: inline;
  font-weight: var(--a-font-weight-bold);
}

.readmore {
  margin-top: var(--a-spacing-1);
}

.alert {
  margin-bottom: var(--a-spacing-2);
}
