@use '../../../../scss/variables';

.description {
  display: block;
  color: var(--a-text-subtle);
  font-size: var(--a-font-size-large);
  font-weight: var(--a-font-weight-regular);
  letter-spacing: 0;
  line-height: var(--a-font-line-height-large);

  &Text {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25rem;
  }
}
