.heading {
  composes: hiddenfocus from '../../../scss/modules/focus.module.scss';
}

.lastIngress {
  margin-bottom: var(--a-spacing-4);
}

.button {
  margin: var(--a-spacing-4) var(--a-spacing-4) 0 0;
}
