.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-row {
  display: flex;
  width: 100%;
  gap: 3rem;
}

.table-th {
  flex: 1;
  white-space: normal;
  word-break: break-word;
}

.table-td {
  flex: 0 0 auto;
  max-width: 15rem;
  text-align: right;
}
