.alert__margin {
  margin-bottom: var(--a-spacing-4);
}

/* .paragraph {
  margin: var(--a-spacing-4) 0;
  margin-bottom: var(--a-spacing-8);
} */

.paragraph {
  &--mobile {
    margin: 0;
    margin-bottom: var(--a-spacing-4);
  }

  &--desktop {
    margin: var(--a-spacing-4) 0;
    margin-bottom: var(--a-spacing-8);
  }
}
