.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: var(--a-spacing-1);

  tr {
    border-bottom: 1px solid var(--a-border-divider);

    &:last-child {
      border-bottom: none;
    }

    &:first-child {
      border-top: 1px solid var(--a-border-divider);
    }
  }

  th {
    padding-right: var(--a-spacing-2);
    text-align: left;
  }

  th,
  td {
    padding-block: var(--a-spacing-2);

    &.valueCell {
      white-space: nowrap;
    }
  }

  tr:first-child th,
  tr:first-child td {
    padding-top: var(--a-spacing-2);
  }

  tr:last-child th,
  tr:last-child td {
    padding-bottom: 0;
  }
}
