@import '../variables';

.frame {
  width: 100%;
  margin: 0 auto;
  min-height: 40vh;
  max-width: var(--a-breakpoint-xl);

  &_hasPadding {
    padding: var(--a-spacing-3);

    @media (min-width: $a-breakpoint-sm) {
      padding: var(--a-spacing-6);
    }
  }
}
