@import '../variables';

/* TODO fikse problem med sass + composes (css-loader issue) */
.whitesection {
  background-color: var(--a-white);
  width: 100%;
  animation: 0.2s fade-in;
}

@media (prefers-reduced-motion) {
  .whitesection {
    animation: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
