@use '../../../scss/variables';

.section {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  margin-bottom: var(--a-spacing-10);

  @media (min-width: variables.$a-breakpoint-lg) {
    max-width: variables.$container-max-width;
  }
}
