@import '../../../scss/variables';

.label {
  display: block;
  margin-bottom: var(--a-spacing-2);
}

.description {
  padding-bottom: var(--a-spacing-4);
}

.select {
  &Wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: var(--a-spacing-4);

    label {
      font-size: var(--a-font-size-medium);
    }
  }

  &Aar {
    flex-basis: $input-width-xxs;
    flex-shrink: 0;
  }

  &Maaned {
    flex-basis: $input-width-xs;
    flex-shrink: 0;
  }

  &__hasError {
    select {
      box-shadow: 0 0 0 1px
        var(--ac-select-error-border, var(--a-surface-danger));
      border-color: var(--ac-select-error-border, var(--a-surface-danger));
    }
  }

  &Error {
    &Message {
      display: flex;
      gap: var(--a-spacing-2);
      color: var(--a-text-danger);
      font-size: var(--a-font-size-large);
      font-weight: var(--a-font-weight-bold);
      letter-spacing: 0;
      line-height: var(--a-font-line-height-large);
      margin: 0;
      padding-top: var(--a-spacing-2);

      &::before {
        content: '•';
      }

      :global {
        .nowrap {
          display: contents;
        }
      }
    }
  }
}

.date {
  align-self: end;
  padding-bottom: var(--a-spacing-3);
}
