@import '../../scss/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
}

.pin {
  position: absolute;
  margin-top: -2rem;
}

.chipsWrapper {
  /* double-specificity nødvendig pga Aksel overskrivning */
  &.chipsWrapper__hasGap {
    gap: var(--a-spacing-3);

    &::after {
      content: '';
      flex: auto;
    }
  }

  :global {
    .navds-chips--icon-left {
      padding-left: var(--a-spacing-3);
    }

    .navds-chips__toggle-icon {
      display: none;
    }
  }
}

.visFlereAldere {
  margin-right: auto;
  margin-bottom: var(--a-spacing-3);
}
