.readmoreOffentlig {
  margin-top: var(--a-spacing-1);
}

.readmorePrivat {
  margin: var(--a-spacing-2) 0 var(--a-spacing-6) 0;
}

.list {
  margin-block-start: var(--a-spacing-3);
  margin-block-end: var(--a-spacing-3);
}

.radiogroup {
  margin: var(--a-spacing-6) 0 var(--a-spacing-2) 0;
}

.alert {
  composes: fadein from '../../../scss/modules/fadein.module.scss';
  margin-left: var(--a-spacing-8);
}

.button {
  margin: var(--a-spacing-4) var(--a-spacing-4) 0 0;
}
