@use '../../scss/variables';

.container {
  composes: frame from '../../scss/modules/frame.module.scss';

  &__hasMobilePadding {
    composes: frame__hasMobilePadding from '../../scss/modules/frame.module.scss';
  }

  &__hasTopMargin {
    margin-top: var(--a-spacing-4) !important;
  }
}

.background {
  display: inline-block;
  width: 100%;
  left: 0;
  right: 0;

  &__lightblue {
    background-color: var(--a-deepblue-50);
  }
}

.link {
  margin-top: var(--a-spacing-2);
  margin-bottom: var(--a-spacing-4);
}

.guidePanel {
  margin-bottom: calc(var(--a-spacing-8) + var(--a-spacing-10));
}
