@use '../../scss/variables';

.container {
  composes: frame from '../../scss/modules/frame.module.scss';

  &__hasMobilePadding {
    composes: frame__hasMobilePadding from '../../scss/modules/frame.module.scss';
  }

  &__hasTopMargin {
    margin-top: var(--a-spacing-4) !important;
  }

  &__endring {
    section {
      padding-top: 0 !important;
    }
  }
}

.intro {
  margin-bottom: var(--a-spacing-10);
  max-width: variables.$container-max-width;

  &__endring {
    margin-bottom: var(--a-spacing-3);
  }

  &Title {
    margin-bottom: var(--a-spacing-1);
  }
}

.background {
  display: inline-block;
  width: 100%;
  left: 0;
  right: 0;

  &__lightblue {
    background-color: var(--a-deepblue-50);
  }
}

.link {
  margin-top: var(--a-spacing-2);
  margin-bottom: var(--a-spacing-4);
}

.guidePanel {
  margin-bottom: var(--a-spacing-8);
}
