@import '../../scss/variables';

.container {
  composes: frame from '../../scss/modules/frame.module.scss';

  &__hasMobilePadding {
    composes: frame__hasMobilePadding from '../../scss/modules/frame.module.scss';
  }
}

.background {
  width: 100%;
  left: 0;
  right: 0;

  &__white {
    background-color: var(--a-white);
    transition: background-color 0.15s ease;
  }
}
