@import '../../scss/variables';

.beregning {
  width: 100%;
}

.container {
  composes: frame from '../../scss/modules/frame.module.scss';

  &__hasPadding {
    composes: frame__hasPadding from '../../scss/modules/frame.module.scss';
  }
}

.toggle {
  padding: 0 var(--a-spacing-6) 0 var(--a-spacing-6);
  background-color: var(--a-white);

  &__paddingBottom {
    padding-bottom: var(--a-spacing-6);
  }

  @media (min-width: $a-breakpoint-lg) {
    padding: 0;

    &__paddingBottom {
      padding-bottom: var(--a-spacing-6);
    }
  }

  @media (max-width: $a-breakpoint-sm) {
    div[role='radiogroup'] {
      width: 100%;
    }
  }
}

.background {
  width: 100%;
  left: 0;
  right: 0;

  &__lightblue {
    background-color: var(--a-deepblue-50);
  }
}
