@import '../../scss/variables';

.info {
  display: flex;

  &Icon {
    flex-basis: 1.5rem;
    vertical-align: top;
    margin-right: var(--a-spacing-2);

    &__orange {
      color: var(--a-orange-600);
    }

    &__blue {
      color: var(--a-deepblue-600);
    }
  }

  &Text {
    flex-basis: 100%;
  }
}
