@import '../../scss/variables.scss';

.info {
  display: flex;

  &__hasMargin {
    margin: var(--a-spacing-6) 0 var(--a-spacing-6) 0;
  }

  &__hasMarginBottom {
    margin-bottom: var(--a-spacing-6);
  }

  &Icon {
    flex-basis: 1.5rem;
    vertical-align: top;
    margin-right: var(--a-spacing-2);

    &__orange {
      color: var(--a-orange-600);
    }

    &__blue {
      color: var(--a-deepblue-600);
    }
  }

  &Text {
    flex-basis: 100%;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  margin-bottom: var(--a-spacing-12);

  @media (min-width: $a-breakpoint-lg) {
    max-width: $container-max-width;
  }

  // TODO denne logikken kan vekk når Aksel har løst manglende border bottom
  :global {
    .navds-accordion__item.navds-accordion__item--open:last-child {
      border-bottom: 2px solid var(--a-border-divider);
    }
  }

  &Header {
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
  }
}


.paragraph {
  margin-bottom: var(--a-spacing-4);
}
