@import '../../../scss/variables';

.main {
  padding: var(--a-spacing-6) 0;
  display: flex;
  flex-flow: column;
  align-items: start;

  &__isFramed {
    composes: frame from '../../../scss/modules/frame.module.scss';
  }
}

.headerGroup {
  width: 100%;
  max-width: var(--a-breakpoint-md);
  padding: 0 var(--a-spacing-6) var(--a-spacing-4) var(--a-spacing-6);

  &__isFramed {
    composes: frame from '../../../scss/modules/frame.module.scss';
  }

  // TODO PEK-67 - iPad er akkurat 768px, mangler padding ved tittel
  @media (min-width: $a-breakpoint-md) {
    padding: 0 0 var(--a-spacing-4) 0;
    margin: 0 auto;
  }

  // TODO PEK-67 verifisere verdi ift tablets
  @media (min-width: $a-breakpoint-lg) {
    margin: 0;
  }
}
