@import '../../scss/variables';

.buttons {
  display: flex;
  justify-content: space-between;
  height: var(--a-font-line-height-medium);
}

.rightAligned {
  flex-grow: 1;
  text-align: right;
}

.tooltip {
  right: 0.375rem;
  background-color: var(--a-white);
  border-bottom: 3px solid var(--a-gray-600);
  z-index: 3;

  & > span {
    position: relative !important;
    width: 100% !important;
    display: block;
  }

  &Table {
    position: relative;
    width: 100%;
    table-layout: fixed;
    background-color: var(--a-white);
    border-collapse: separate;
    border-spacing: 0 var(--a-spacing-1);
    z-index: 1;

    &HeaderCell {
      border-bottom: 1px solid var(--a-gray-600);
      font-size: var(var(--a-font-size-medium));

      &__left {
        width: 70%;
        white-space: break-spaces;
        font-weight: var(--a-font-weight-regular);
        text-align: left;
        padding-right: var(--a-spacing-3);

        @media (min-width: 370px) {
          width: auto;
          white-space: unset;
        }
      }

      &__right {
        font-weight: var(--a-font-weight-bold);
        text-align: right;
      }
    }

    &Cell {
      font-family: var(--a-font-family);
      font-size: var(--a-font-size-small);
      vertical-align: middle;

      &__right {
        font-weight: var(--a-font-weight-bold);
        text-align: right;
      }

      &Dot {
        height: var(--a-spacing-3);
        width: var(--a-spacing-3);
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: var(--a-spacing-1);
        margin-top: -2px;
      }
    }
  }

  &Line {
    position: absolute;
    width: 2px;
    background-color: var(--a-gray-600);
  }
}

:global {
  .highcharts-tooltip-container {
    left: 1.125rem !important;
    right: 1.125rem;

    @media (min-width: $a-breakpoint-xl) {
      margin-left: auto;
      margin-right: auto;
      width: 100% !important;
      max-width: calc($a-breakpoint-xl-down - 2rem);
    }

    & > svg {
      display: none;
    }
  }

  .highcharts-scrollable-mask {
    filter: drop-shadow(-5px 0 3px rgb(255 255 255 / 25%));
  }
}

.hidden {
  display: none;
}