@use '../../../scss/variables';

.maanedsbeloep {
  > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  > div:last-child {
    font-weight: var(--a-font-weight-bold);

    * {
      font-weight: var(--a-font-weight-bold);
    }
  }
}
