.chart {
  --height: 50px;

  display: flex;
  flex-direction: column-reverse;

  .header,
  .cell {
    width: 80px;
  }

  .header {
    font-weight: var(--a-font-weight-regular);
  }

  .cell {
    vertical-align: bottom;
  }

  .cell p {
    font-weight: var(--a-font-weight-bold);
    text-align: center;
    margin-bottom: 4px;
  }

  .bar {
    position: relative;
    width: 56px;
    height: var(--height);
    background-color: var(--a-green-400);
    margin: 0 auto;
    border-radius: 3px 3px 0 0;
  }

  .cell:first-of-type .bar {
    background-color: var(--a-blue-400);
  }
}
