@import '../../scss/variables.scss';

.pensjonssimulering {
  background-color: var(--a-white);
  padding: var(--a-spacing-6);
  width: 100%;
}

.chipsWrapper {
  /* double-specificity nødvendig pga Aksel overskrivning */
  &.chipsWrapper__hasGap {
    padding: var(--a-spacing-2) 0;
    gap: var(--a-spacing-6);
  }
}
