@import '../../scss/variables';

.visFlereAar {
  margin-top: -1rem;
  margin-left: auto;
}

.tooltip {
  --border-color: var(--a-gray-500);

  right: 0;
  background-color: var(--a-white);
  border-bottom: 2px solid var(--border-color);
  z-index: 3;

  & > span {
    position: relative !important;
    width: 100% !important;
  }

  &Table {
    position: relative;
    width: 100%;
    background-color: var(--a-white);
    border-collapse: collapse;
    border-spacing: 0 var(--a-spacing-1);
    z-index: 1;

    > tbody tr:first-of-type td {
      padding-top: var(--a-spacing-1);
    }

    > tbody tr:last-of-type td {
      padding-bottom: var(--a-spacing-1);
    }

    &HeaderCell {
      border-bottom: 1px solid var(--border-color);
      font-size: var(--a-font-size-medium);

      &__left {
        font-weight: var(--a-font-weight-regular);
        text-align: left;
        padding-right: var(--a-spacing-12);
      }

      &__right {
        font-weight: var(--a-font-weight-bold);
        text-align: right;
        white-space: nowrap;
      }
    }

    &Cell {
      font-family: var(--a-font-family);
      font-size: var(--a-font-size-small);
      vertical-align: middle;

      &__right {
        font-weight: var(--a-font-weight-bold);
        text-align: right;
      }

      &Dot {
        height: var(--a-spacing-3);
        width: var(--a-spacing-3);
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: var(--a-spacing-1);
      }
    }
  }

  &Line {
    position: absolute;
    width: 2px;
    background-color: var(--border-color);
  }
}

:global {
  .highcharts-tooltip-container {
    left: 18px !important;
    right: 18px;

    @media (min-width: $a-breakpoint-xl) {
      margin-left: auto;
      margin-right: auto;
      width: 100% !important;
      max-width: calc($a-breakpoint-xl-down - 2rem);
    }

    & > svg {
      display: none;
    }
  }

  .highcharts-scrollable-mask {
    filter: drop-shadow(-5px 0 3px rgb(255 255 255 / 25%));
  }
}
