@import '../../scss/variables';

.main {
  composes: frame from '../../scss/modules/frame.module.scss';
  padding-top: var(--a-spacing-6);
  display: flex;
  flex-flow: column;
  align-items: start;
}

.headerGroup {
  padding: 0 var(--a-spacing-6);
}
