@use '../../scss/variables';

.section {
  padding: 0 var(--a-spacing-6) var(--a-spacing-8) var(--a-spacing-6);

  @media (min-width: variables.$a-breakpoint-lg) {
    max-width: variables.$container-max-width;
    padding-left: 0;
    padding-right: 0;
  }
}

.heading {
  margin-bottom: var(--a-spacing-2);
}

.text {
  margin-bottom: var(--a-spacing-2);
}
