@use '../../../scss/variables';

.readmore1 {
  margin-top: var(--a-spacing-1);
}

.readmore2 {
  margin: var(--a-spacing-2) 0 var(--a-spacing-6) 0;
}

.radiogroup {
  margin-top: var(--a-spacing-6);
  margin-bottom: var(--a-spacing-2);
}

.ingressBottom {
  margin-top: var(--a-spacing-8);
  padding-bottom: var(--a-spacing-2);
}
