@import '../../scss/variables';

.barchart {
  --barmaxheight: 12rem;
  --barheight: 3rem;

  display: flex;
  flex-basis: 100%;
  flex-direction: column-reverse;
  margin-bottom: var(--a-spacing-6);

  tbody {
    display: block;
  }

  &Caption {
    flex: 1;
    font-weight: var(--a-font-weight-regular);
  }

  &Bar {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    padding: 0;
    height: var(--barmaxheight);

    p {
      font-weight: var(--a-font-weight-bold);
      text-align: center;
    }
  }

  &Figure {
    display: inline-block;
    margin: 0 auto;
    width: 70%;
    height: var(--barheight);
    background-color: var(--a-green-400);
    border-radius: var(--a-border-radius-medium) var(--a-border-radius-medium) 0
      0;

    &_isFirst {
      background-color: var(--a-blue-400);
    }
  }
}

.flexContainer {
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
}
