@use '../../../scss/variables';

.container {
  width: 100%;
  border-collapse: collapse;
}

.row {
  width: 100%;

  th,
  td {
    padding: 0;
    text-align: left;
    font-size: var(--a-font-size-large);
  }

  @media screen and (max-width: variables.$a-breakpoint-sm) {
    th > p,
    td {
      font-size: var(--a-font-size-medium);
    }
  }

  td {
    text-align: right;
    white-space: nowrap;
  }
}

.sum {
  font-weight: var(--a-font-weight-bold);

  * {
    font-weight: var(--a-font-weight-bold);
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
