@use '../../../scss/variables';

.container {
  width: 100%;
  border-collapse: collapse;
}

.row {
  width: 100%;

  th,
  td {
    padding: 0;
    text-align: left;
  }

  td {
    text-align: right;
    white-space: nowrap;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.sum {
  font-weight: var(--a-font-weight-bold);

  * {
    font-weight: var(--a-font-weight-bold);
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
