@use '../../../scss/variables';

.container {
  width: 100%;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;
  }
}

.sum {
  font-weight: var(--a-font-weight-bold);

  * {
    font-weight: var(--a-font-weight-bold);
  }
}
