@use '../../../scss/variables';

.ingress {
  margin-bottom: var(--a-spacing-6);
}

.button {
  margin: var(--a-spacing-6) var(--a-spacing-6) 0 0;
}

.selectSivilstand :global(.navds-select__container) {
  width: variables.$input-width-m;
}

.selectSivilstand select {
  width: variables.$input-width-m;
}

.selectSivilstand label {
  width: 100%;
}
