.ingress {
  margin-bottom: var(--a-spacing-6);
}

.button {
  margin: var(--a-spacing-6) var(--a-spacing-6) 0 0;
}

.selectSivilstand :global(.navds-select__container) {
  width: 16rem;
}

.selectSivilstand select {
  width: 16rem;
}

.selectSivilstand label {
  width: 100%;
}
