@use '../../../../scss/variables';

.wrapper {
  margin-bottom: var(--a-spacing-2);
}

.separator {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: var(--a-border-divider);
  margin: 0 0 var(--a-spacing-4) 0;
}

.button {
  margin-top: var(--a-spacing-4);

  &Submit {
    margin-right: var(--a-spacing-4);
  }
}
