@use '../../../scss/variables';

.alert {
  display: block;
  border: 2px dashed;
  border-radius: var(--a-border-radius-medium);
  border-color: var(--ac-alert-info-border, var(--a-border-info));
  padding: var(--a-spacing-5);
  margin: var(--a-spacing-4) 0 var(--a-spacing-6) 0;
  align-items: center;

  &Wrapper {
    max-width: 43.5rem;
  }
}
