@import '../../../scss/variables';

.wrapper {
  text-align: center;

  @media (min-width: $a-breakpoint-md) {
    display: flex;
    flex-flow: row-reverse;
    text-align: left;

    &Text {
      padding-right: var(--a-spacing-8);
    }
  }
}

.alert {
  max-width: $container-max-width;
  margin: 0 var(--a-spacing-6) var(--a-spacing-6) var(--a-spacing-6);

  @media (min-width: $a-breakpoint-lg) {
    margin: 0 0 var(--a-spacing-6) 0;
  }
}

.image {
  width: 9rem;
  height: 9rem;
  margin: 0 auto;
  margin-bottom: var(--a-spacing-4);
}

.button {
  display: block;
  margin: var(--a-spacing-6) auto;

  @media (min-width: $a-breakpoint-md) {
    display: inline-block;
    margin-right: var(--a-spacing-4);
  }
}

.link {
  display: block;
  margin-top: var(--a-spacing-8);

  @media (min-width: $a-breakpoint-md) {
    margin-top: 0;
  }
}

.list {
  text-align: left;
  list-style: none;
  padding-left: 20%;

  @media (min-width: $a-breakpoint-sm) {
    padding-left: 30%;
  }

  @media (min-width: $a-breakpoint-md) {
    padding-left: 0;
  }
}

.ellipse {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: var(--a-spacing-3);
  vertical-align: middle;

  &__blue {
    background-color: var(--a-deepblue-500);
  }

  &__purple {
    background-color: var(--a-purple-400);
  }

  &__green {
    background-color: var(--a-green-400);
  }
}
