@use '../../../scss/variables';

.wrapper {
  text-align: left;

  @media (min-width: variables.$a-breakpoint-md) {
    display: flex;
    flex-flow: row-reverse;

    &Text {
      padding-right: var(--a-spacing-8);
    }
  }
}

.wrapperFlexColumn {
  @media (min-width: variables.$a-breakpoint-md) {
    display: flex;
    flex-direction: column;
  }
}

.image {
  text-align: center;
  margin-bottom: var(--a-spacing-4);
}

.list {
  text-align: left;
  list-style: none;
  padding-left: 0;
}

.ellipse {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: var(--a-spacing-3);
  vertical-align: middle;

  &__blue {
    background-color: var(--a-deepblue-500);
  }

  &__purple {
    background-color: var(--a-purple-400);
  }

  &__green {
    background-color: var(--a-data-surface-5);
  }
}

.button {
  display: inline-block;
  margin: var(--a-spacing-6) var(--a-spacing-4) var(--a-spacing-6) 0;
}

.link {
  display: block;
  margin-top: 0;
}

.alert {
  margin-bottom: var(--a-spacing-8);
  padding: var(--a-spacing-4) var(--a-spacing-5);
  background-color: var(--a-surface-info-subtle);
  border: 1px solid var(--a-data-surface-4-subtle);
  border-radius: var(--a-spacing-3);
}
