.section {
  composes: whitesection from '../../../scss/modules/whitesection.module.scss';
  padding: var(--a-spacing-8);
  text-align: center;
}

.image {
  width: 9rem;
  margin: 0 auto;
  margin-bottom: var(--a-spacing-4);
}

.button {
  display: block;
  margin: var(--a-spacing-8) auto var(--a-spacing-4) auto;
}
