@import '../../scss/variables';

.section {
  composes: fadein from '../../scss/modules/fadein.module.scss';
  composes: innerframe from '../../scss/modules/frame.module.scss';

  @media (min-width: $a-breakpoint-lg) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.innerwrapper {
  padding: var(--a-spacing-2) 0;

  @media (min-width: $a-breakpoint-md) {
    padding: var(--a-spacing-6) 0;
  }
}

.button {
  display: block;
  margin: 0 auto;

  &__avbryt {
    margin-top: var(--a-spacing-4);
  }

  @media (min-width: $a-breakpoint-md) {
    display: inline-block;

    &__avbryt {
      margin-top: 0;
      margin-left: var(--a-spacing-4);
    }
  }
}
