@use '../../../../scss/variables';

.hstackRow {
  border-bottom: 1px solid var(--a-border-divider);
  margin-bottom: var(--a-spacing-3);
  padding-bottom: var(--a-spacing-3);

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &:only-child {
    border-bottom: 1px solid var(--a-border-divider);
    margin-bottom: var(--a-spacing-3);
    padding-bottom: var(--a-spacing-3);
  }
}

.alderspensjonDetaljer {
  flex: 1.1;
  min-width: 0;
}

.opptjeningDetaljer {
  flex: 1.9;
  min-width: 0;
}
