@use '../../scss/variables';

.section {
  margin-top: var(--a-spacing-4);
}

.bodyshort {
  color: var(--a-text-subtle);
  margin-bottom: var(--a-spacing-4);
}

.utenlandsperioder {
  margin-block: var(--a-spacing-4);

  &Item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--a-border-default);
    border-radius: var(--a-border-radius-medium);
    padding: var(--a-spacing-4);

    &:not(:last-child) {
      margin-bottom: var(--a-spacing-4);
    }
  }

  dd {
    margin-left: 0;
    line-height: var(--a-font-line-height-xlarge);
  }

  &Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__endre {
      margin: 0;
    }

    &__slette {
      margin-top: 0;
      align-self: end;
    }
  }

  @media (min-width: variables.$a-breakpoint-md) {
    &Item {
      flex-direction: row;
    }

    &Text {
      flex-grow: 1;
      min-height: 5.25rem;
      align-content: center;
    }

    &Buttons {
      flex-direction: column;
      flex-basis: 0;
      justify-content: space-between;
      text-wrap: nowrap;
    }
  }
}

.error {
  margin-top: var(--a-spacing-4);
}
