@use '../../scss/variables';

.visTabell {
  width: 100%;

  :global {
    .navds-read-more__content {
      border-left: 0;
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.table {
  :global {
    .navds-table__expanded-row-content {
      padding: var(--a-spacing-4) var(--a-spacing-3) var(--a-spacing-4) 4.25rem;
    }

    .navds-table__expandable-row--open td:last-child {
      font-weight: var(--a-font-weight-bold);
    }
  }

  @media (min-width: variables.$a-breakpoint-lg) {
    table-layout: fixed;
  }

  &MobileOnly {
    @media (min-width: variables.$a-breakpoint-lg) {
      display: none !important;
    }
  }

  &DesktopOnly {
    @media (max-width: variables.$a-breakpoint-lg-down) {
      display: none !important;
    }
  }
}

.details {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto;
  grid-gap: var(--a-spacing-3);
  margin: 0;
  font-size: var(--a-font-size-medium);

  &Item {
    &Right {
      text-align: right;
      margin-inline-start: var(--a-spacing-4);
    }

    &Bold {
      font-weight: var(--a-font-weight-bold);
    }
  }

  @media (min-width: variables.$a-breakpoint-sm) {
    font-size: var(--a-font-size-large);
  }
}
