@import '../../scss/variables';

.section {
  gap: var(--a-spacing-4);
}

.ingress {
  max-width: $paragraph-max-width;
}

.loader {
  margin: var(--a-spacing-6) auto;
}

.chipsWrapper {
  /* double-specificity nødvendig pga Aksel overskrivning */
  &.chipsWrapper__hasGap {
    gap: var(--a-spacing-3);
    justify-content: space-between;

    &::after {
      content: '';
      flex: auto;
    }
  }

  :global {
    .navds-chips--icon-left {
      padding-left: var(--a-spacing-3);
    }

    .navds-chips__toggle-icon {
      display: none;
    }
  }
}

.visFlereAldere {
  margin-right: auto;
  margin-bottom: var(--a-spacing-3);
}

.visTabell {
  margin: 0 auto;
}
