@import '../../scss/variables';

.section {
  gap: var(--a-spacing-4);
}

.loader {
  margin: var(--a-spacing-6) auto;
}

.chipsWrapper {
  /* double-specificity nødvendig pga Aksel overskrivning */
  &.chipsWrapper__hasGap {
    gap: var(--a-spacing-4);
  }

  :global {
    .navds-chips--icon-left {
      padding-left: var(--a-spacing-3);
    }

    .navds-chips__toggle-icon {
      display: none;
    }
  }
}

.readMore__hasPadding {
  margin-bottom: var(--a-spacing-3);
}

.readMore__isCentered {
  margin: 0 auto;
}

.paragraph {
  max-width: 75ch;
}
