@use '../../../scss/variables';

.alert {
  margin-bottom: var(--a-spacing-2);
}

.readmore1 {
  margin: var(--a-spacing-1) 0 var(--a-spacing-6) 0;
}

.paragraph {
  margin-bottom: var(--a-spacing-4);
}

.button {
  margin: var(--a-spacing-4) var(--a-spacing-4) 0 0;
}
