@import '../variables';

.whiteSection {
  background-color: var(--a-white);
  width: 100%;
  animation: 0.2s fade-in;

  @media (prefers-reduced-motion) {
    animation: none;
  }

  @keyframes fade-in {
    0% {
      opacity: 0
    }

    100% {
      opacity: 1
    }
  }
}

