.readmoreOffentlig {
  margin-top: var(--a-spacing-1);
}

.readmorePrivat {
  margin: var(--a-spacing-2) 0 var(--a-spacing-6) 0;
}

.list {
  margin-block: var(--a-spacing-3) var(--a-spacing-3);
}

.radiogroup {
  margin-bottom: var(--a-spacing-2);
}
