@use '../../scss/variables';

.landingPage {
  composes: innerframe from '../../scss/modules/frame.module.scss';
  composes: whitesection from '../../scss/modules/whitesection.module.scss';

  @media (min-width: variables.$a-breakpoint-md) {
    padding: var(--a-spacing-6) 0 var(--a-spacing-10) !important;
  }
}

.list {
  text-align: left;
  list-style: none;
  padding-left: 0;
  margin-top: var(--a-spacing-1);
  margin-bottom: 0;
}

.ellipse {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: var(--a-spacing-3);
  vertical-align: middle;

  &__blue {
    background-color: var(--a-deepblue-500);
  }

  &__purple {
    background-color: var(--a-purple-400);
  }

  &__green {
    background-color: var(--a-data-surface-5);
  }
}

.button {
  margin-top: var(--a-spacing-2);
}

.link {
  display: block;
  margin: var(--a-spacing-1) 0;
}
