@import '../../../scss/variables.scss';

.mobileTable {
  width: 100%;
  border-spacing: 0;
}

.desktopTable {
  &Header {
    margin-top: var(--a-spacing-6);
  }

  &Rader {
    &__noBottomBorder {
      border-bottom-width: 0;
    }

    &__alignTop {
      vertical-align: top;
    }
  }
}
