@import '../../scss/variables';

.card {
  margin-bottom: var(--a-spacing-6);
}

.list {
  margin-top: 0;
  font-size: var(--a-font-size-medium);
  color: var(--a-text-subtle);

  &Title {
    font-weight: var(--a-font-weight-bold);
  }

  &Description {
    margin-left: 0;
    margin-bottom: var(--a-spacing-2);
    line-height: var(--a-font-line-height-large);
  }
}

.button {
  white-space: nowrap;
}
