/** BREAKPOINTS **/
$breakpoint-sm: var(--a-breakpoint-sm);

/* Medium devices (tabletsvand up) */
$breakpoint-md: var(--a-breakpoint-md);

/* Large devices (desktops and up) */
$breakpoint-lg: var(--a-breakpoint-lg);

/* Extra large devices (large desktops and up) */
$breakpoint-xl: var(--a-breakpoint-xl);

/** CONTENT AREAS */
$content-area-desktop: 60rem;
