@import '../../scss/variables';

.section {
  composes: whitesection from '../../scss/modules/whitesection.module.scss';
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  padding: var(--a-spacing-6);
  text-align: start;
  margin-bottom: var(--a-spacing-6);

  @media (min-width: $a-breakpoint-sm) {
    padding: var(--a-spacing-10) var(--a-spacing-10);
  }
}

.loader {
  margin: var(--a-spacing-6) auto;
}

.chipsWrapper {
  /* double-specificity nødvendig pga Aksel overskrivning */
  &.chipsWrapper__hasGap {
    gap: var(--a-spacing-4);
  }

  :global {
    .navds-chips--icon-left {
      padding-left: var(--a-spacing-3);
    }

    .navds-chips__toggle-icon {
      display: none;
    }
  }
}

.readMore__hasPadding {
  margin-bottom: var(--a-spacing-3);
}

.readMore__isCentered {
  margin: 0 auto;
}

.paragraph {
  max-width: 75ch;
}
