.app {
  display: flex;
  flex-flow: column;
  place-items: center;
  text-align: center;
  min-width: 320px;
  max-width: 1280px;
  min-height: 50vh;
}

.logo {
  height: 6em;
  padding: var(--a-spacing-6);
  will-change: filter;
  transition: filter 300ms;
  font-weight: 500;
  color: var(--a-surface-warning-subtle-hover);
  text-decoration: inherit;

  &:hover {
    filter: drop-shadow(0 0 2em var(--a-surface-action-hover));
  }

  &--react {
    &:hover {
      filter: drop-shadow(0 0 2em var(--a-surface-action-hover));
    }
  }
}

.card {
  padding: var(--a-spacing-8);
}

.title {
  font-size: var(--a-font-line-height-heading-2xlarge);
}

.button {
  margin-bottom: var(--a-spacing-12);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--a-grayalpha-800);
    background-color: var(--a-white);
  }

  a:hover {
    color: var(--a-green-300);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
