:root {
  color-scheme: light dark;
  color: var(--a-text-default);
  background-color: var(--a-bg-default);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
