@use './variables';

#print-content {
  display: none;
}

@media print {
  .display-inline {
    display: inline;
  }

  .nowrap {
    white-space: nowrap;
  }

  .logoContainer svg {
    width: 72px;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .infoIconContainer svg {
    width: 16px;
    height: 16px;
  }

  h1 {
    margin: 0;
    padding-left: 0;
    text-align: left;
  }

  h4 {
    padding: 1.5em 0 0.5em;
  }

  table.alert-box {
    border: 2px solid #0214317d !important;
    border-radius: 8px !important;
  }

  div.pdf-metadata {
    margin-top: -1em;
  }

  #app-content.hideAppContent {
    display: none !important;
  }

  #print-content.showPrintContent {
    display: block !important;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    margin: 0;
  }

  th,
  tr,
  h2,
  .afp-grunnlag-title {
    border-bottom: 1px solid rgb(128 128 128);
  }

  .pdf-table-wrapper-row,
  .pdf-table-type2 tbody > tr:last-child {
    border-bottom: none;
  }

  .pdf-table-type2 tbody > tr:last-child {
    font-weight: bold;
  }

  th,
  td {
    padding: 12px 8px;
  }

  thead th {
    border-bottom: 2px solid rgb(128 128 128);
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }

  tr td {
    margin-right: 10px;
    text-align: center;
  }

  tr.header-with-logo {
    border: none;
    margin: 0;
  }

  tr.header-with-logo td {
    padding: 0;
  }

  td.pdf-td-type2 {
    vertical-align: top;
    width: 33%;
    padding-top: 0;
    padding-right: 8px;
  }
}
