@import '../assets/variables';

.frame {
  width: 100%;
  margin: 0 auto;
  min-height: 40vh;

  @media (min-width: $breakpoint-xl) {
    max-width: $content-area-desktop;
  }

  &_isFlex {
    display: flex;
    flex-flow: column;
    place-items: center;
    text-align: center;
  }

  &_hasPadding {
    padding: var(--a-spacing-8);
  }
}
