@use '../../scss/variables';

.form {
  max-width: 16em;
}

.alert {
  background: var(--a-gray-100);
}

.alert > * {
  margin: 0 auto;
  padding: 0.5em 0 0;
  max-width: variables.$container-max-width;

  @media (min-width: variables.$a-breakpoint-lg) {
    max-width: variables.$a-breakpoint-lg;
    padding-right: calc(
      variables.$a-breakpoint-lg - variables.$container-max-width
    );
  }
}
