name: Check pull request
permissions:
  contents: read

on:
  pull_request:
  workflow_dispatch:
    inputs:
      run-firefox:
        description: 'Run Firefox tests'
        required: false
        default: false
        type: boolean
      run-webkit:
        description: 'Run WebKit tests'
        required: false
        default: false
        type: boolean

jobs:
  build:
    name: Build application
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js v22
        uses: actions/setup-node@v6
        with:
          node-version: '22.16.0'
          registry-url: 'https://npm.pkg.github.com'

      - name: Cache node modules
        id: cache-node
        uses: actions/cache@v5
        with:
          path: |
            node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Build application
        run: npm run build

      - name: Save build folder
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist
          if-no-files-found: error
          retention-days: 1

  run-unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js v22.16.0
        uses: actions/setup-node@v6
        with:
          node-version: '22.16.0'
          registry-url: 'https://npm.pkg.github.com'

      - name: Cache node modules
        id: cache-node
        uses: actions/cache@v5
        with:
          path: |
            node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Run unit tests
        run: npm run test

      - name: Archive code coverage results
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage-report
          path: coverage

  run-integration-tests-cypress:
    name: Run integration tests
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js v22.16.0
        uses: actions/setup-node@v6
        with:
          node-version: '22.16.0'
          registry-url: 'https://npm.pkg.github.com'

      - name: Cache node modules
        id: cache-node
        uses: actions/cache@v5
        with:
          path: |
            node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Cache Cypress binary
        id: cache-cypress
        uses: actions/cache@v5
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/package.json') }}

      - name: Download the build folders
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Install dependencies
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Install cypress
        if: steps.cache-cypress.outputs.cache-hit != 'true'
        run: npx cypress install

      - name: Run integration tests
        run: npm run cy:test

      - name: Archive Cypress artifacts
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: screenshots
          path: cypress/screenshots

  run-playwright-chromium:
    name: Playwright Chromium tests
    runs-on: ubuntu-latest
    needs: build
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-jammy
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js v22.16.0
        uses: actions/setup-node@v6
        with:
          node-version: '22.16.0'
          registry-url: 'https://npm.pkg.github.com'

      - name: Cache node modules
        id: cache-node
        uses: actions/cache@v5
        with:
          path: |
            node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Download the build folders
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Install dependencies
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Chromium tests
        run: npx playwright test --project=chromium --workers=6 --reporter=blob

      - name: Upload Chromium blob report
        uses: actions/upload-artifact@v6
        if: ${{ always() }}
        with:
          name: chromium-blob-report
          path: blob-report
          retention-days: 7

  run-playwright-firefox:
    name: Playwright Firefox tests
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event.inputs.run-firefox == 'true' }}
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-jammy
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js v22.16.0
        uses: actions/setup-node@v6
        with:
          node-version: '22.16.0'
          registry-url: 'https://npm.pkg.github.com'

      - name: Cache node modules
        id: cache-node
        uses: actions/cache@v5
        with:
          path: |
            node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Download the build folders
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Install dependencies
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Run Firefox tests
        run: npx playwright test --project=firefox --workers=6 --reporter=blob
        env:
          HOME: /root

      - name: Upload Firefox blob report
        uses: actions/upload-artifact@v6
        if: ${{ always() }}
        with:
          name: firefox-blob-report
          path: blob-report
          retention-days: 7

  run-playwright-webkit:
    name: Playwright WebKit tests
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event.inputs.run-webkit == 'true' }}
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-jammy
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js v22.16.0
        uses: actions/setup-node@v6
        with:
          node-version: '22.16.0'
          registry-url: 'https://npm.pkg.github.com'

      - name: Cache node modules
        id: cache-node
        uses: actions/cache@v5
        with:
          path: |
            node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Download the build folders
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Install dependencies
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Run WebKit tests
        run: npx playwright test --project=webkit --workers=6 --reporter=blob

      - name: Upload WebKit blob report
        uses: actions/upload-artifact@v6
        if: ${{ always() }}
        with:
          name: webkit-blob-report
          path: blob-report
          retention-days: 7

  merge-playwright-reports:
    name: Merge Playwright reports
    runs-on: ubuntu-latest
    needs:
      [run-playwright-chromium, run-playwright-firefox, run-playwright-webkit]
    if: ${{ always() && !cancelled() }}
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-jammy
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Use Node.js v22.16.0
        uses: actions/setup-node@v6
        with:
          node-version: '22.16.0'
          registry-url: 'https://npm.pkg.github.com'

      - name: Cache node modules
        id: cache-node
        uses: actions/cache@v5
        with:
          path: |
            node_modules
            ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Download all Playwright blob reports
        uses: actions/download-artifact@v7
        with:
          pattern: '*-blob-report'
          path: blob-report
          merge-multiple: true

      - name: Merge reports into HTML
        run: npx playwright merge-reports --reporter html ./blob-report

      - name: Upload merged Playwright HTML report
        uses: actions/upload-artifact@v6
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 30
